# Add all of the environmental variables here instead of 
# embedding them directly in the app and utilize them 
# with the `DotEnv` package.

PORT=3000
NODE_ENV=development
MONGO_URI=YOUR MONGO URI
JWT_SECRET=abc123
